.fullsection{
    display:flex;
}

.filter-section{
    height:89vh;
    width:320px;
    background-color: aquamarine;
    padding:10px;
}

.navbar-section{
    
    width:100%;
    background-color:rgb(235, 214, 214);
    height:10vh;
   
}

.rowval{
    display:flex;
}

.dropdowns{
    display:flex;
}

select{
    padding:7px 10px;
    border-radius: 7px;
    margin-top:10px;
    margin-left: 30px;

}

.Post-Ad{
      
    margin-top: 2vh;
    background-color:rgb(81, 177, 43);
    padding:8px 15px;
    border-radius:15px;
}

.Post-Ad>a{
    text-decoration:none;
    color:white;
   
   
}

.Postad{
    background-color: black;
}

.spacehere{
    width:35%;
}

.btnstyl{
    padding:5px 13px;
    border: 1.6px solid rgb(37, 35, 163);
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0);
    margin:2px;
}

.facing-buttons{
    display:flex;
}