.fullsection{
    display:flex;
}

.filter-section{
    height:89vh;
    width:400px;
    background-color: rgb(255, 255, 255);
    padding:5px;
    border-right: 1.6px solid rgb(221, 220, 220);
    margin-left:10px;

}

.navbar-section{
    
    width:100%;
    background-color:rgb(255, 255, 255);
    height:13.86vh;
    border-bottom: 1.6px solid rgb(221, 220, 220);
    padding-top:10px;
   
}

.rowval{
    display:flex;
}

.dropdowns{
    display:flex;
}

select{
    padding:7px 10px;
    border-radius: 7px;
    margin-top:10px;
    margin-left: 30px;

}

.Post-Ad{
      
    margin-top: 2vh;
    background-color:rgb(81, 177, 43);
    padding:8px 15px;
    border-radius:15px;
}

.Post-Ad>a{
    text-decoration:none;
    color:white;
   
   
}

.Postad{
    background-color: black;
}

.spacehere{
    width:30%;
}

.btnstyl{
    padding:7px 14px;
    color:rgb(37, 35, 163);
    border: 1.6px solid rgb(37, 35, 163);
    border-radius:20px;
    background-color:rgba(255, 255, 255, 0);
    margin:2px;
    font-size: 12px;
}

.btnstyl:hover{
    background-color:rgb(37, 35, 163);
    color:white;
}

.facing-buttons{
    display:flex;
}

.heading-blue{
    color:rgb(37, 35, 163);
    font-size: 19px;
    font-weight: 1000;
    margin-top:18px;
    margin-bottom:10px;
}

.text-RERA{
    display:flex;
}

.switchhere{
    margin-top:25px;
    margin-left: 25px;
}